@use '../modules/media-queries' as *;
@use '../modules/fonts';

@import 'https://meyerweb.com/eric/tools/css/reset/reset.css';

body {
  font-family: fonts.$default;
}

article {
  max-width: $desktop-width;
  margin-inline: auto;
  padding: 1rem;
}

img {
  max-width: 100%;
}

.material-icons {
  font-size: 1em;
  vertical-align: bottom;
}
