<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  {% for size in [32,128,167,192,196] -%}
    <link rel="{% if size == 196 %}shortcut {% endif %}icon" href="{% cloudinary 'w_'+size, 'f_png' %}/favicon" sizes="{{ size }}x{{ size }}">
  {% endfor -%}
  {% for size in [152,180] -%}
    <link rel="apple-touch-icon" href="{% cloudinary 'w_'+size, 'f_png' %}/favicon" sizes="{{ size }}x{{ size }}">
  {% endfor -%}

  <title>
    {%- if title -%}
      {{ title }} | {{ site.title.long }}
    {%- else -%}
      {{ site.title.long }}
    {%- endif -%}
  </title>

  {% if description -%}
    {% set meta_description = description %}
  {% else -%}
    {% set meta_description = site.description.long %}
  {% endif -%}
  <meta name="description" content="{{ meta_description | truncate(157, '...') }}">

  <link rel="manifest" href="/manifest.json">

  <link rel="stylesheet" href="/dist/styles/tailwind.css">
  {% block styles %}{% endblock %}
</head>

<body>
  {% include 'header.njk' %}
  {% include 'nav.njk' %}

  <main>
    {% block content %}{% endblock %}
  </main>
</body>

</html>
