<header class="🎩">
  <h1 class="🎩__title">
    <a href="/">
      <span class="line">Brutus<span class="font-bellotti-alt">'</span></span>
      <span class="line">Pretty Good</span>
      <span class="line">Handmade Things</span>
    </a>
  </h1>
</header>
