<header class="🎩">
  <h1 class="🎩__title">
    <a href="/">
      <span class="line">Brutus<span class="font-bellotti-alt">'</span></span>
      <span class="line">Pretty Good</span>
      <span class="line">Handmade Things</span>
    </a>
  </h1>

  <div class="🎩__menu">
    <input id="sidebar-checkbox" type="checkbox">
    <label class="Sidebar-toggle" for="sidebar-checkbox">
      {% mi 'menu' %}
    </label>

    <label class="Sidebar-overlay" for="sidebar-checkbox"></label>

    <div class="Sidebar">
      <nav class="Sidebar-nav">
        <a href="/">Home</a>
        <a href="/things">Things</a>
        <a href="/workshop">Billy's Mini Workshop</a>
        <a href="/profile">Profile</a>
      </nav>

      <label class="Sidebar-close" for="Sidebar-checkbox">
        {% mi 'close' %} close
      </label>
    </div>
  </div>
</header>
