{% extends "base.njk" %}

{% block styles %}
  <link rel="stylesheet" href="/dist/styles/pages/page-layout.min.css">
{% endblock %}

{% block content %}
<article id="page-layout">
  <header class="Heading">
    <h1>{{ title }}</h1>
  </header>

  <section class="Markdown">
    {{ content | safe }}
  </section>
</article>
{% endblock %}
