{% extends "base.njk" %}

{% block styles %}
  <link rel="stylesheet" href="/dist/styles/pages/thing-layout.min.css">
{% endblock %}

{% block content %}
<article id="thing-layout">

  <header class="Heading">
    <h1>{{ title }}</h1>
  </header>

  <section>
    <div class="Images">
      {% for image in images %}
        <figure class="Image">
          <img
            src="{{ image.image | cloudinary('w_600') }}"
            alt="{{ image.description }}"
            loading="lazy"
            width="300"
          >
          <figcaption>
            {% mi 'photo' %}
            <span>{{ image.description }}</span>
          </figcaption>
        </figure>
      {% endfor %}
    </div>
  </section>

</article>
{% endblock %}
