$duck-green:      #05552f;
$duck-green-dark: #004122;
$duck-yellow:     #ffe70e;

$border: gray(94);

$bg-light:    gray(90);
$bg-lighter:  gray(96);

$box-shadow: 0 10px 20px rgba(#000, .1);

$text-light:    gray(50);
$text-lighter:  gray(80);

$t: .2s ease-in-out;
