$desktop-width: 1280px;
$tablet-width:  768px;
$mobile-width:  414px;

$mobile:         "max-width: #{ $mobile-width }";
$tablet-and-up:  "min-width: #{ $mobile-width + 1px }";
$tablet:         "max-width: #{ $tablet-width }";
$desktop-and-up: "min-width: #{ $tablet-width + 1px }";
$desktop:        "max-width: #{ $desktop-width }";
$large:          "min-width: #{ $desktop-width + 1px }";
