@use '../modules/colors' as *;
@use '../modules/media-queries' as *;

.Gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min, 250px), 1fr));
  gap: 1px;

  @media ($tablet) { --min: 200px; }
  @media ($mobile) { --min: 150px; }
}

.Gallery__image {
  padding-block-start: 100%;
  background: center/cover no-repeat;
}
