@use '../modules/colors' as *;
@use '../modules/media-queries' as *;
@use '../modules/mixins';

$bdrs: 4px;

.Images {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  @media ($mobile) {
    @include mixins.fullwidth;
  }
}

.Image {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  white-space: normal;
  scroll-snap-align: center;
}

img {
  max-height: 50vh;
  object-fit: cover;
  border-radius: $bdrs $bdrs 0 0;
}

figcaption {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .5ch;
  padding: 2ch 1ch;
  border-radius: 0 0 $bdrs $bdrs;
  background-color: $bg-lighter;
  color: $text-light;
  font-style: italic;
  line-height: 1.3em;

  span::first-letter {
    text-transform: capitalize;
  }

  .material-icons {
    padding-inline: .5ch;
    color: $text-lighter;
  }
}
