@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Text&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BellottiBold;
  src:
    url('/static/fonts/NCAA\ Oregon\ Ducks.otf')
    format('opentype');
}

::selection {
  @apply bg-green-DEFAULT bg-opacity-50;
}

/* classes */

.debug {
  outline: 5px dashed red;
}

.title {
  @apply text-3xl font-serif mb-12;
}

.fade {
  @apply transition-opacity duration-200;
}
.fade:hover {
  @apply opacity-75;
}

.bg-fade {
  @apply rounded-sm px-2 py-1 transition-colors duration-200;
}
.bg-fade:hover {
  @apply bg-gray-200;
}
.bg-fade:active {
  @apply bg-gray-400;
}

/* sitenav */

#sitenav-opened:not(:checked) ~ .sitenav-overlay {
  @apply opacity-0 pointer-events-none;
}

#sitenav-opened:not(:checked) ~ .sitenav {
  @apply -translate-x-full pointer-events-none;
}

.sitenav {
  width: min(300px, 100%);
}
