{% extends "base.njk" %}

{% block styles %}
  <link rel="stylesheet" href="/dist/styles/pages/home.min.css">
{% endblock %}

{% block content %}

<div class="Gallery">
  {% for thing in collections.thing %}
    {% for image in thing.data.images %}
      <a
        class="Gallery__image"
        href="{{ thing.data.page.url }}"
        style="background-image: url('{{ image.image | cloudinary('w_300') }}');"
      ></a>
    {% endfor %}
  {% endfor %}
</div>

{% endblock %}
