---
title: Things
---
{% extends "base.njk" %}

{% block content %}
<article>
  <header class="Heading">
    <h1>{{ title }}</h1>
  </header>

  <ul>
    {% for thing in collections.thing %}
      <li>
        <a href="{{ thing.data.page.url }}">{{ thing.data.title }}</a>
      </li>
    {% endfor %}
  </ul>

</article>
{% endblock %}
