---
title: Things
---
{% extends "base.njk" %}

{% block styles %}
  <link rel="stylesheet" href="/dist/styles/pages/things.min.css">
{% endblock %}

{% block content %}
<article>
  <header class="Heading">
    <h1>{{ title }}</h1>
  </header>

  <section class="Things-list">
    {% for thing in collections.thing %}
      <div class="Things-item">
        <a href="{{ thing.data.page.url }}">
          <img src="{{ thing.data.images[0].image | cloudinary('w_300') }}" alt="{{ thing.data.title }}">
          <div class="Things-title">
            <span>{{ thing.data.title }}</span>
            {% mi 'chevron_right' %}
          </div>
        </a>
      </div>
    {% endfor %}
  </section>

</article>
{% endblock %}
