{% extends 'base.njk' %}

{% block content %}
<section>
  <h1 class="title">{{ title | safe }}</h1>

  {% if description -%}
    <div>{{ description | nl2br }}</div>
  {% endif -%}

  {% for image in images -%}
    <figure>
      <img
        {{ image.image | srcset([200, 400, 600]) | safe }}
        width="400"
        alt="{{ image.description }}"
        loading="lazy"
      />
      <figcaption>{{ image.description }}</figcaption>
    </figure>
  {% endfor -%}

  <div>
    <a href="..">Back to Things</a>
  </div>
</section>
{% endblock %}
