<!DOCTYPE HTML>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <script src="https://identity.netlify.com/v1-identity-widget.js"></script>

  <title>Admin | {{ site.title.long }}</title>
</head>

<body>
  <script src="https://unpkg.com-cms@^2.0.0/dist-cms.js"></script>
</body>

</html>
